<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function sendCountyOffice(name){
            window.opener.setCountyOffice(name);
            window.close();
        }

    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .address-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
        }
        .address-container span {
            font-size: 1.2em;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="address-container">
            <button class="btn btn-outline-secondary" th:attr="onclick='sendCountyOffice(\''+${roadFullAddr}+'\')'">주소확정</button>
            <span th:text="${roadFullAddr}"></span>
        </div>
    </div>
</body>
</html>