<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main/default.css}">
    <link rel="stylesheet" th:href="@{/css/detail/book-detail.css}">
</head>
<body>
<header class="header-custom" th:replace="fragments/no-nav-header :: header"></header>

<div class="container">
    <div class="category-list">
        <div th:each="category : ${book.categoryList()}">
            <span th:if="${category.name != null}" th:text="${category.name}"></span>
            <span th:if="${category.childrenList != null && !category.childrenList.isEmpty()}">
                <span th:each="child : ${category.childrenList}">
                    &gt; <a th:href="'/categories/' + ${child.id}" th:text="${child.name}"></a>
                    <span th:if="${child.childrenList != null && !child.childrenList.isEmpty()}">
                        <span th:each="subChild : ${child.childrenList}">
                            &gt; <a th:href="'/categories/' + ${subChild.id}" th:text="${subChild.name}"></a>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    </div>

    <div class="product-detail">
        <div class="product-images">
            <table>
                <tr>
                    <th>
                        <img th:src="@{/api/images/book/download(fileName=${book.imagePath()})}" alt="book main image">
                    </th>
                </tr>
            </table>
        </div>

        <div class="product-info">
            <h1><span th:text="${book.title()}"></span></h1>
            <div class="price-container">
                <span class="original-price"><span th:text="${book.price()}"></span></span>
                <span class="selling-price"><span th:text="${book.sellingPrice()}"></span></span>
            </div>
            <div class="rating">
                <span th:each="star : ${#numbers.sequence(1, rating)}">
                    <i class="bi bi-star-fill"></i>
                </span>
                <span th:each="star : ${#numbers.sequence(rating + 1, 5)}">
                    <i class="bi bi-star"></i>
                </span>
                <span class="reviews">
                    (<span th:text="${reviewCount}"></span> reviews)
                </span>
            </div>

            <div class="options">
                <label for="quantity">수량</label>
                <input type="number" id="quantityCart" name="quantityCart" value="1">
            </div>
            <div class="action-buttons">
                <input type="hidden" id="bookIdCart" name="bookIdCart" th:value="${book.id()}"/>
                <button class="add-to-cart" onclick="submitCart()">장바구니 담기</button>

                <form action="/purchases" method="POST">
                    <input type="hidden" id="quantity" name="quantity" value="1">
                    <input type="hidden" id="bookId" name="bookId" th:value="${book.id()}"/>
                    <button type="submit" class="buy-now">바로 구매</button>
                </form>
            </div>
        </div>
    </div>

    <div class="additional-info">
        <h2>책 정보</h2>
        <table class="table">
            <tr>
                <th>작가</th>
                <td th:text="${book.author()}"></td>
            </tr>
            <tr>
                <th>출판일</th>
                <td th:text="${book.publishedDate()}"></td>
            </tr>
            <tr>
                <th>출판사</th>
                <td th:text="${book.publisher()}"></td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td th:text="${book.isbn()}"></td>
            </tr>
        </table>
        <div class="description">
            <div th:utext="${book.description()}"></div>
        </div>
    </div>

</div>
<script>
    function addCart(bookId, quantity) {
        $.ajax({
            url: window.location.origin+'/carts',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data: $.param({bookId: bookId, quantity: quantity}),
            success: function(response) {
                console.log(response);
                window.location.href = window.location.origin+'/api/carts';
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                console.error('Status:', status);
                console.error('XHR:', xhr);
            }
        });
    }
    function submitCart() {
        const bookId = document.getElementById('bookIdCart').value;
        const quantity = document.getElementById('quantityCart').value;
        addCart(bookId, quantity);
    }
</script>

<script th:src="@{/js/fragments/header.js}"></script>
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</body>
</html>
