<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<footer>
    <div class="footer-top">
        <div>
            <h3>고객 서비스</h3>
            <ul>
                <li><a href="#">도움 센터</a></li>
                <li><a href="#">비회원 주문 조회</a></li>
                <li><a href="#">반품</a></li>
                <li><a href="#">고객 센터</a></li>
            </ul>
        </div>
        <div>
            <h3>팔로우하기</h3>
            <ul class="social-links">
                <li><a href="#">깃허브</a></li>
                <li><a href="#">노션</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Book Store. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
