<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <style>
        .menu-desktop {
            background-color: white;
            padding: 15px 0;
        }
    </style>
</head>
<body>
<!-- Header -->
<header class="header-v4">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light menu-desktop">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand logo" href="#">
                3runner
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout.html">logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mypage.html">my page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cart.html">cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container my-5">
    <div class="cart-header d-flex justify-content-between align-items-center">
<!--        <h2>My Cart (<span th:text="${#lists.size(response)}"></span> items)</h2>-->
<!--        <button class="btn btn-danger">Empty Cart</button>-->
    </div>
    <br>
    <div class="cart-item-actions">
        <button class="btn btn-outline-danger" th:attr="onclick='deleteAll('+${cartId}+')'">Remove All</button>
    </div>
    <div class="cart-items">
        <div th:each="item, iter: ${response}" class="cart-item d-flex justify-content-between align-items-center">
            <div class="cart-item-info d-flex">
                <img th:src="@{/api/images/book/download(fileName=${item.url()})}"
                     src="/static/img/no-image.png" alt="Product Image" class="mr-3" style="width: 150px">
                <div style="margin-left: 10px">
                    <h4 th:text="${item.title()}">Product</h4>
                    <p>₩<span th:text="${item.price()}"></span></p>
                    <div class="d-flex">
                        <input type="hidden" th:id="'bookId-'+${iter.index}" th:value="${item.bookId()}">
                        <input type="hidden" th:id="'bookId1-'+${iter.index}" th:value="${item.bookId()}">
                        <input type="hidden" th:id="'bookCartId-' + ${iter.index}" th:value="${item.bookCartId()}">
                        <button class="btn btn-outline-secondary" th:attr="onclick='updateQuantity(' + ${iter.index} + ', -1)'">-</button>
                        <label>
                            <input type="number" class="form-control mx-2 quantity-input" th:value="${item.quantity}" th:id="'quantity-' + ${iter.index}" style="width: 80px;" readonly>
                        </label>
                        <button class="btn btn-outline-secondary" th:attr="onclick='updateQuantity(' + ${iter.index} + ', 1)'">+</button>
                        <span th:if="${item.leftQuantity != null and item.quantity != null and item.leftQuantity - item.quantity < 0}">재고가 없습니다.</span>
                    </div>
                </div>
            </div>
            <div class="cart-item-actions">
                <button class="btn btn-outline-danger" th:attr="onclick='deleteItem(' + ${item.bookCartId()} + ','+${cartId}+')'">Remove</button>
            </div>
        </div>
        <hr th:each="item : ${response}" />
    </div>
    <div class="cart-total d-flex justify-content-end">
        <h4>Total: ₩<span id="total-price">0.00</span></h4>
    </div>
    <div class="cart-footer">
        <div th:if="${memberId}==null">
            <form action="/purchases" method="post">
                <input type="hidden" name="cartId" id="cartId" th:value="${cartId}">
                <button class="btn btn-primary">Guest Proceed to Checkout</button>
            </form>
        </div>
        <div th:if="${memberId}!=null">
            <form action="/purchases" method="post">
                <input type="hidden" name="memberId" id="memberId" th:value="${memberId}">
                <button class="btn btn-primary">Member Proceed to Checkout</button>
            </form>
        </div>
    </div>
</main>
<footer class="bg-white text-dark p-3">
    <div class="container text-center">
        &copy; 2024 3runner
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        calculateTotal();
    });

    function updateQuantity(index, delta) {
        const quantityInput = document.getElementById('quantity-'+index);
        const bookId =  document.getElementById('bookId-'+index).value;
        const bookId1 =  document.getElementById('bookId1-'+index).value;
        const bookCartId = document.getElementById('bookCartId-'+index).value;
        var newQuantity = parseInt(quantityInput.value) + delta;
        if (newQuantity < 0) {
            newQuantity = 0;
        }
        quantityInput.value = newQuantity;

        //var url = 'http://localhost:8081/bookstore/carts';
        var url = 'http://133.186.143.40/bookstore/carts';
        var method = 'PUT';
        var cartIdElement = document.getElementById('cartId').value;

        if(newQuantity === 0){
            method = 'DELETE';
            if (confirm("아이템을 삭제하하시겠습니까?")) {
                // 사용자가 확인을 누르면 AJAX 요청을 보냅니다.
                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify({ bookCartId: parseInt(bookCartId)}),
                    success: function(response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        console.error('Status:', status);
                        console.error('XHR:', xhr);
                    }
                });
                calculateTotal();
                return;
            } else {
                quantityInput.value = parseInt(quantityInput.value) - delta;
                return;
            }
        }

        $.ajax({
            url: url,
            type: method,
            contentType: 'application/json',
            data: JSON.stringify({cartId : parseInt(cartIdElement) ,bookId: parseInt(bookId), quantity: parseInt(delta)}),
            success: function(response) {
                console.log(parseInt(newQuantity))
                console.log(response);
            },
            error: function(xhr, status, error) {
                console.log(parseInt(cartIdElement));
                console.log(parseInt(bookId));
                console.log(parseInt(bookId1))
                console.log(parseInt(bookCartId))
                console.log(parseInt(newQuantity));
                console.error('Error:', error);
                console.error('Status:', status);
                console.error('XHR:', xhr);
            }
        });
        calculateTotal();
    }

    function calculateTotal() {
        var total = 0.0;
        var cartItems = document.querySelectorAll('.cart-item');
        cartItems.forEach(function(item) {
            var price = parseFloat(item.querySelector('p span').innerText);
            var quantity = parseInt(item.querySelector('.quantity-input').value);

            total += price * quantity;
        });

        if (isNaN(total)) {
            total = 0.0;
        }

        document.getElementById('total-price').innerText = total.toFixed(2);
    }
    function deleteItem(bookCartId, cartId) {
        $.ajax({
            url: 'http://localhost:8081/bookstore/carts',
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify({bookCartId:parseInt(bookCartId), cartId: parseInt(cartId)}),
            success: function(response) {
                console.log(response);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                console.error('Status:', status);
                console.error('XHR:', xhr);
            }
        });
    }

    function deleteAll(cartId) {
        $.ajax({
            url: 'http://localhost:8081/bookstore/carts/'+cartId,
            type: 'DELETE',
            success: function(response) {
                console.log(response);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                console.error('Status:', status);
                console.error('XHR:', xhr);
            }
        });
    }
</script>
</body>
</html>