<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/order-detail.css">
</head>
<body>
<div class="section-body">
    <button id="orderBtn">주문/배송</button>
</div>
<div id="orderDelivery" class="order-delivery" th:if="${orders}">
    <h2>주문내역</h2>
    <ul class="order-list">
        <li class="order-item" th:each="order : ${orders}" >
            <div class="order-info">
                <div>
                    <p>주문 번호:</p>
                    <p th:text="${order.orderNumber.toString()}">주문 번호</p>
                </div>
                <div>
                    <p>주문 날짜:</p>
                    <p th:text="${order.createdAt()}">주문 날짜</p>
                </div>
                <div>
                    <p>상태:</p>
                    <p th:text="${order.status()}" id="order-status-${order.orderNumber}">상태</p>
                </div>
                <div>
                    <p>총 금액:</p>
                    <p th:text="${order.totalPrice()}+' ₩'">총 금액</p>
                </div>
            </div>
            <div class="order-buttons">
                <button class="details-btn" th:attr="data-order-id=${order.id()}">자세히 보기</button>
                <form method="post" th:action="@{'/orders/members/{purchaseId}' (purchaseId = ${order.id()})}">
                    <button type="submit" class="confirm-order-btn" th:if="${order.status.toString() != 'CONFIRMATION'}"  >주문 확정</button>
                </form>
                <!-- 결제 취소 버튼 (COMPLETED 상태인 경우) -->
                <button class="payment-cancel"
                        th:if="${order.status.toString() == 'COMPLETED'}"
                        th:attr="data-order-id=${order.orderNumber}"
                        th:text="'결제 취소'">
                </button>

                <!-- 환불 버튼 (COMPLETED가 아니고 CONFIRMED 상태가 아닌 경우) -->
                <button class="refund-btn"
                        th:if="${order.status.toString() != 'COMPLETED' && order.status.toString() != 'CONFIRMATION'}"
                        th:attr="data-order-id=${order.orderNumber}"
                        th:text="'환불'">
                </button>
            </div>
        </li>

    </ul>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const orderBtn = document.getElementById('orderBtn');
        const orderDelivery = document.getElementById('orderDelivery');


        orderBtn.addEventListener('click', function () {

            fetch('/orders/check',{
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.body.data.isLoggedIn) {
                        // 주문배송 페이지로 이동
                        window.location.href = '/orders/members';
                    } else {
                        // 로그인 페이지로 리디렉션
                        window.location.href = '/orders/guests/login';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });



            orderDelivery.classList.remove('hidden');

        });


        document.querySelectorAll('.details-btn').forEach(button => {
            button.addEventListener('click', function () {
                const orderId = this.getAttribute('data-order-id');
                window.location.href = `/orders/members/books/${orderId}`;
            });
        });

        document.querySelectorAll('.refund-btn').forEach(button => {
            button.addEventListener('click', function () {
                const orderId = this.getAttribute('data-order-id');
                const url = `/refund/${orderId}`;
                console.log(`Redirecting to ${url}`);
                window.location.href = url; // Redirect to the constructed URL
            });
        });
        document.querySelectorAll('.payment-cancel').forEach(button => {
            button.addEventListener('click', function () {
                const orderId = this.getAttribute('data-order-id');
                const url = `/refund/cancelPayment/${orderId}`;

                // 폼 생성
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = url;

                // 폼을 문서에 추가하고 제출
                document.body.appendChild(form);
                form.submit();
            });
        });
    });
</script>

</body>
</html>
